body{
  text-align: center;
}

span{
  color:black;
}

.bg{
  width:50%;
  display:block;
  margin: 40px auto;
}

.title{
  font-size: 40px;
  margin-bottom: 0;
  color:hsl(0, 0%, 59%);
}

.input{
  width:20%;
  border-radius: 20px;
  border-color: hsl(0, 0%, 59%);
  padding:15px;
}

.submit{
  padding: 15px 45px;
  background-color: hsl(223, 87%, 63%);
  color: white;
  border-radius: 20px;
  border: none;
  margin-left: 10px;
}

.form-line-active input:focus, .form-line-active textarea:focus {
border: 1px solid hsl(0, 0%, 59%) !important;
box-shadow: 0 0 3px hsl(0, 0%, 59%) !important;
-moz-box-shadow: 0 0 3px hsl(0, 0%, 59%) !important;
-webkit-box-shadow: 0 0 3px hsl(0, 0%, 59%) !important;
}

input:focus, textarea:focus, select:focus {
outline-offset: 0px !important;
outline: none !important;
}

.err-msg{
  color:red;
  display:none;
}

@media screen and (max-width:1219px){
  .input{
    margin-top: 20px;
    width:80%;
  }
  .submit{
    margin-top: 10px;
    width:90%;
  }
  .logo{
    margin-top: 50px;
  }
  .title{
    font-size: 30px;
  }
}
